*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 3718px;
}
header{
    width: 1103.41px;
    height: 29.46px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top:15px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 800px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color:transparent;   
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "MyCustomFont";
  font-weight: bold;
  font-size: 12px;

}
ul li a:hover {
  background-color: #111111;
}
.logo-img{
    
    margin-left:270px;
    width: 167.02px;
    height: 29.46px;
}
/* main{
    background-image: url("/Object.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 1093px;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
} */
.first-section{
    /* display: flex;
    flex-direction: column; */
     background-image: url("/Object.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 1093px;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.registration-area{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}
.registration-h1{
    font-size: 135px;
    /* font-weight: bold; */
    color:white;
    text-align: center;
  font-family: "MyCustomFont";
}
.for-reg-span{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    gap:70px;
    display: flex;
    font-family: "MyCustomFont";

}
.reg-btn{
    margin-top: 40px;
    width: 162px;
    height: 44px;
    background-color:#C271FF;
    border-radius: 25px;
    box-shadow: 0 0 20px #000000;
    border: none;
    color:white;
    font-family: "MyCustomFont";
}
.reg-btn:hover{
    background-color:  #111111;
    cursor: pointer;
}
.pro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 150px;
}
.pro-h2{
    font-family: MyCustomFont;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.pro-span{
    color: #C271FF;
}
.pro-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: center;
    font-family: "MyCustomFont";
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0px;
    color:white;
    margin-top: 70px;
    width: 1009px;
    height: 237px;

}
/* .pro-child-container{
    width: 150px;
    height: 237px;
} */
.clip-img{
    clip-path: circle(50% at 50% 50%);
}
.second-section{
    width: 1440px;
    height: 392px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: #C271FF;
}
.second-section-img{
    width: 160px;
    height: 160px;
}
.second-section-writings{
    width: 730px;
    height: 158px;
    align-items: center;
    justify-content: center;
    /* font-family: "MyCustomFont"; */
    text-align: left;
    color: white;
}
.second-section-h3{
    margin-top: 20px;
    font-family: "MyCustomFont";
    font-size: 22px;
    font-weight: bold;
    line-height: 33.6px;
    letter-spacing: 0px;
}
.second-section-p{
     font-family: "MyCustomFont";
    font-size: 22px;
    font-style: italic;
    line-height: 33.6px;
    letter-spacing: 0px;

}
.second-section-quote{
     font-family: "MyCustomFont";
    font-size: 22px;
    font-weight: reular;
    line-height: 33.6px;
    letter-spacing: 0px;

}
.third-section{
    display: flex;
    flex-direction: column;
    width: 1228px;
    height: 450px;
    margin-top: 80px;
    /* align-items: center;
    justify-content: center; */
}
.video-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-left: 190px;

}
.video-intro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "MyCustomFont";
    font-size: 32px;
    font-weight: mixed;
    margin-bottom: 35px;
    padding-left: 190px;
}
.video-intro-span{
    color: #C271FF;
}
.first-video{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.second-video{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.third-video{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.fourth-video{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.image-wrap-1{
    position: relative;
    display:inline-block;
    margin-bottom: 20px;
}
.background-img{
    display: block;

}
.over-lay-img{
    position: absolute;
    top:40px;
    left:90px;
}
.persona{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-family: "MyCustomFont";
    font-weight: semiboild;
}
.persona-img{
    width: 30px;
    height: 30px;
}

.persona-h3{
    font-family: "MyCustomFont";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.persona-p{
    font-family: "MyCustomFont";
    font-weight: regular;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:#071629;

}
.for-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin-top: 15px;
}
.rating-icon{
    margin-top: 8px;
}
.rating-time{
    color: #C271FF;
}
.fourth-section{
    margin-top: 70px;
    display:flex;
    flex-direction:column;
    width: 1440px;
    height: 502px;
    background-color:#071629;
    color:white;
   
}
.membership-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:100px;
    margin-top: 70px;
}
.membership-h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: "MyCustomFont";
    font-size: 32px;
    font-weight: mixed;
    line-height: auto;
    letter-spacing: 0px;
    text-align: center;
}
.membership-span{
    color: #C271FF;
}
.smily-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smily{
    margin-bottom: 30px;
}
.smily-h3{
    margin-bottom: 30px;
    font-family: "MycustomFont";
    font-weight: semibold;
    text-align: center;
}
.smily-p{
    font-family: "MyCustomFont";
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    font-weight: regular;
    font-size: 14px;
}
.smily-btn{
    width: 162px;
    height: 44px;
    background-color:#C271FF;
    color: white;
    font-family: "MyCustomFont";
    font-weight: semibold;  
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    margin-left: 650px;
    margin-top: 70px;
    border-radius: 25px;
    border: none;
    
}
.smily-btn:hover{
    background-color: black;
}
.fifth-section{
    margin-top: 70px;
    width: 920px;
    height: 707px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.faq{
    display: flex;
    flex-direction: row;
    width: 920px;
    height: 707px;
    gap: 170px;
    align-items: center;
    justify-content: center;
    margin-left: 300px; 
}
.faq-h2{
    display: flex;
    margin-left: 655px;
    padding-bottom: 40px;
    font-family: "MyCustomFont";
    font-weight: light;
    font-size: 60px;
    line-height: auto;
    letter-spacing: 0px;
}
.faq-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
  
}
.faq-writing{
    width:350px;
    font-family: "MyCustomFont";
    font-weight: regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: opx;
    text-align: left;
    color:#C271FF;
   
}
.faq-h3{
    font-family: "MyCustomFont";
    font-weight: bold;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0px;
    margin-right: 180px;
    /* margin-bottom: 25px; */
    padding-bottom: 20px;
}
.last-section{
    width: 1440px;
    height: 249px;
    display: flex;
    flex-direction:column;
    background-color: black;
    margin-top: 80px;
}
.socials{
    color: white;
}
.last-p{
    color: rgba(255, 255, 255, 0.521);
}
.logo-social{
    display: flex;
    flex-direction: row;
    gap: 920px;
    margin-left: 100px;
    padding-top: 80px;
}
.last-p{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "MyCustomFont";
    font-weight: regular;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0px;
    text-align: left;
}


